body{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    justify-content: space-between;
}

header{
    flex: 100% 1 1;
    height: 95px;
    background-color: #edafb8;
}
aside{
    width: 14%;
    height: 500px;
    background-color: #f7e1d7;
}
main{
    width: 70%;
    height: 500px;
    background-color: #dedbd2;
}
footer{
    flex: 100% 1 1;
    height: 95px;
    background-color: #b0c4b1;
}